#
amqplib==1.0.2
anyjson==0.3.3
Babel==0.9.6
Beaker==1.6.4
celery==2.4.2
chardet==2.3.0
-e git+https://github.com/GSA/ckan.git@c69dda7e53a406c1f23853555130a9f9ce4a9fdf#egg=ckan
-e git+https://github.com/GSA/ckanext-archiver@5bea804d23e13fa46116d6307677ca83f130b910#egg=ckanext_archiver
-e git+https://github.com/GSA/ckanext-datagovtheme@c3edefd8dd8b02b626efeb19e24fc6fa2589e260#egg=ckanext_datagovtheme
-e git+https://github.com/GSA/ckanext-datajson@f29ceee9abc5a7a147d4409e21048060adf2dd39#egg=ckanext_datajson
-e git+https://github.com/GSA/ckanext-extlink@69629853f6c7aa4f94c105c5efd76380d70f0843#egg=ckanext_extlink
-e git+https://github.com/GSA/ckanext-geodatagov@ac94cfb9732fe0b06c0d86c398ce9e1814ed8eef#egg=ckanext_geodatagov
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic@a79e14af40739ff03335db84923c1142e204c596#egg=ckanext_googleanalyticsbasic
-e git+https://github.com/GSA/ckanext-harvest@809d6888aa1e7baa614ed16611df64b2f6ae604f#egg=ckanext_harvest
-e git+https://github.com/GSA/ckanext-qa@4cd8d4cf9279b4100669bae27dc62f2e54c6a233#egg=ckanext_qa
-e git+https://github.com/GSA/ckanext-report@f16607e700db67645734257a0c3ac74f4cbdb718#egg=ckanext_report
-e git+https://github.com/GSA/ckanext-saml2@d3e11dd7223acb72a0353f5e624978aab654cb28#egg=ckanext_saml2
-e git+https://github.com/GSA/ckanext-spatial@e6b476775a81e33ad12ba34c20d95e57040962cd#egg=ckanext_spatial
decorator==3.4.0
fanstatic==0.12
Flask==0.8
FormEncode==1.2.6
Genshi==0.6
GeoAlchemy==0.7.2
GeoAlchemy2==0.2.6
html5lib==0.9999999
Jinja2==2.6
json-table-schema==0.2.1
jsonschema==2.4.0
kombu==2.1.3
kombu-sqlalchemy==1.1.0
LEPL==5.1.3
lxml==3.5.0
Mako==0.9.0
MarkupSafe==0.18
meld3==1.0.2
messytables==0.15.0
nose==1.3.0
ofs==0.4.1
OWSLib==0.8.6
Pairtree===0.7.1-T
passlib==1.6.2
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
pbr==0.8.2
pika==0.9.8
ply==3.4
psycopg2==2.4.5
Pygments==1.6
Pylons==0.9.7
pyparsing==1.5.6
python-dateutil==1.5
python-magic==0.4.10
python-memcached==1.48
pytz==2016.1
pyutilib.component.core==4.5.3
PyYAML==3.11
-e git+https://github.com/asl2/PyZ3950.git@c2282c73182cef2beca0f65b1eb7699c9b24512e#egg=PyZ3950
redis==2.10.1
repoze.lru==0.6
repoze.who==2.0
repoze.who-friendlyform==1.0.8
requests==1.1.0
rfc3987==1.3.5
Routes==1.13
Shapely==1.3.1
simplejson==3.3.1
six==1.7.3
solrpy==0.9.5
SQLAlchemy==0.9.6
sqlalchemy-migrate==0.9.1
sqlparse==0.1.11
supervisor==3.2.2
Tempita==0.5.2
unicodecsv==0.9.4
vdm==0.13
WebError==0.10.3
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.4.3
Werkzeug==0.11.4
xlrd==0.9.4
zope.interface==4.1.1
