

# ckanext-harvest [master is working with ckan 2.9, do not use it]
 -e git+https://github.com/ckan/ckanext-harvest.git@v1.1.4#egg=ckanext-harvest
 -r https://raw.githubusercontent.com/ckan/ckanext-harvest/v1.1.4/pip-requirements.txt
