amqplib==1.0.2
anyjson==0.3.3
Babel==0.9.6
Beaker==1.6.4
celery==2.4.2
chardet==2.3.0
-e git+https://github.com/GSA/ckan.git@datagov#egg=ckan
-e git+https://github.com/GSA/ckanext-archiver@datagov#egg=ckanext_archiver
-e git+https://github.com/GSA/ckanext-datagovtheme@master#egg=ckanext_datagovtheme
-e git+https://github.com/GSA/ckanext-datajson@datagov#egg=ckanext_datajson
-e git+https://github.com/GSA/ckanext-extlink@master#egg=ckanext_extlink
-e git+https://github.com/GSA/ckanext-geodatagov@master#egg=ckanext_geodatagov
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic@master#egg=ckanext_googleanalyticsbasic
-e git+https://github.com/GSA/ckanext-harvest@datagov#egg=ckanext_harvest
-e git+https://github.com/GSA/ckanext-qa@datagov#egg=ckanext_qa
-e git+https://github.com/GSA/ckanext-report@datagov#egg=ckanext_report
-e git+https://github.com/GSA/ckanext-spatial@datagov#egg=ckanext_spatial
-e git+https://github.com/GSA/ckanext-ga-report@datagov#egg=ckanext_ga_report
decorator==3.4.0
fanstatic==0.12
Flask==0.8
FormEncode==1.2.6
Genshi==0.6
GeoAlchemy==0.7.2
GeoAlchemy2==0.2.6
html5lib==0.9999999
Jinja2==2.6
json-table-schema==0.2.1
jsonschema==2.4.0
kombu==2.1.3
kombu-sqlalchemy==1.1.0
LEPL==5.1.3
lxml==3.5.0
Mako==0.9.0
MarkupSafe==0.18
meld3==1.0.2
messytables==0.15.0
nose==1.3.0
ofs==0.4.1
Pairtree===0.7.1-T
passlib==1.6.2
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
pbr==0.8.2
pika==0.9.8
ply==3.4
psycopg2==2.4.5
Pygments==1.6
Pylons==0.9.7
pyparsing==1.5.6
python-dateutil==1.5
python-magic==0.4.10
python-memcached==1.48
pytz==2016.1
pyutilib.component.core==4.5.3
PyYAML==3.11
-e git+https://github.com/asl2/PyZ3950.git@c2282c73182cef2beca0f65b1eb7699c9b24512e#egg=PyZ3950
redis==2.10.1
repoze.lru==0.6
repoze.who==2.0
repoze.who-friendlyform==1.0.8
requests==1.1.0
rfc3987==1.3.5
Routes==1.13
Shapely==1.3.1
simplejson==3.3.1
six==1.7.3
solrpy==0.9.5
SQLAlchemy==0.9.6
sqlalchemy-migrate==0.9.1
sqlparse==0.1.11
supervisor==3.2.2
Tempita==0.5.2
unicodecsv==0.9.4
vdm==0.13
WebError==0.10.3
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.4.3
Werkzeug==0.11.4
xlrd==0.9.4
zope.interface==4.1.1
